In [12]:
import pandas as pd
import re

In [13]:
df = pd.read_csv('customer.csv')

In [14]:
df

            id                                           customer
0  OFA00000053  ABBAS, Mohammad Hasan (a.k.a. ABBAS, Mohammad ...
1  OFA00000054  ABDULAH, Hassanudin (a.k.a. ABDUL, Hasanudin; ...

In [15]:
def extract_customer_info(customer):
    # Define regex patterns
    patterns = {
        'Nama1': r'^(.*?)(?:\s*\(a\.k\.a\.)',
        'Nama2': r'\(a\.k\.a\.\s*(.*?);',
        'Nama3': r';\s*Gender\s*.*?\s*\((.*?)\)',
        'Alamat': r';\s*POB\s*(.*?);',
        'DOB': r'DOB\s*(\d{2}\s\w{3}\s\d{4})',
        'POB': r'POB\s*(.*?);',
        'Gender': r'Gender\s*(\w+)\s*\('
    }
    
    extracted_info = {}
    for key, pattern in patterns.items():
        match = re.search(pattern, customer)
        extracted_info[key] = match.group(1).strip() if match else None

    # Konversi DOB ke format yang diinginkan
    if extracted_info['DOB']:
        extracted_info['DOB'] = pd.to_datetime(extracted_info['DOB']).strftime('%Y%m%d')

    return extracted_info

In [25]:
extracted_data = df['customer'].apply(extract_customer_info)
extracted_df = pd.DataFrame(list(extracted_data))
extracted_df

,Nama1,Nama2,Nama3,Alamat,DOB,POB,Gender
0,"ABBAS, Mohammad Hasan","ABBAS, Mohammad Hassan",individual,"Al Ladhiqiyah, Syria",19640901,"Al Ladhiqiyah, Syria",Male
1,"ABDULAH, Hassanudin","ABDUL, Hasanudin",individual,"Al Ladhiqiyah, Syria",19640901,"Al Ladhiqiyah, Syria",Male

In [27]:
extracted_df['id'] = df['id']
cols = ['id'] + [col for col in extracted_df.columns if col != 'id']
extracted_df = extracted_df[cols]

In [28]:
extracted_df

,id,Nama1,Nama2,Nama3,Alamat,DOB,POB,Gender
0,OFA00000053,"ABBAS, Mohammad Hasan","ABBAS, Mohammad Hassan",individual,"Al Ladhiqiyah, Syria",19640901,"Al Ladhiqiyah, Syria",Male
1,OFA00000054,"ABDULAH, Hassanudin","ABDUL, Hasanudin",individual,"Al Ladhiqiyah, Syria",19640901,"Al Ladhiqiyah, Syria",Male