## Objective
### Main Objective
- Data Collection
- Data Preprocessing
- Data Analysis
### Side Quest
- Data Visualization
- Data Modeling

## LIBRARY

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn,pmdarima, prophet

c:\env\.conda\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# DATA COLLECTION

In [5]:
df = pd.read_csv('Indonesia.csv')

In [6]:
df.head()

   TAHUN    INFLASI        GDP
0   1980  18.035430  10.000000
1   1981  12.265909   7.878788
2   1982   9.445424   2.247191
3   1983  11.799741   4.395604
4   1984  10.455035   6.842105

In [7]:
df.tail()

    TAHUN   INFLASI       GDP
38   2018  3.198346  5.174292
39   2019  3.030587  5.019288
40   2020  1.920968 -2.065512
41   2021  1.560130  3.703055
42   2022  4.209464  5.308595

# DATA PREPROCESSING

# DATA ANALYSIS

# DATA VISUALIZATION

# DATA MODELING